/* MAIN PAGE */

body {
  background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
  margin-bottom: 170px;
}
h1 {
    color: #21E6C1;
    font-size: 3.2rem;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    text-shadow: 6px 4px 8px rgb(34, 34, 34);
    margin-top: auto;

}


.bmi-icon{
  margin-top: 150px;
  width:70px;
  margin-left: 70%;
}

.rm1-icon{
  margin-top: 150px;
  width:70px;
  margin-left: 78%;
}

pre {
    color:rgb(0, 0, 0);
    
    font-size: 3.4rem;
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top:-30px;

}

  
.but {
    font-size: 3.7rem;
    border:none;
    border-radius: 22px;
    color:#21E6C1;
    background-color: black;
    font-family: 'Inter' , Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    filter: drop-shadow(7px 4px 10px rgba(0, 0, 0, 0.55));
    
    margin-top: -90px;
    height: 30%;
    transition-duration: 0.4s;
    cursor: pointer;

}



.but:hover{
    filter: drop-shadow(12px 8px 10px rgba(0, 0, 0, .75));
}


div {
    text-align: center;
    margin-left: -40px;
    padding-top: 0.5px;
}

.buttn{
  text-align: center; 
  margin-left:1%;
}





img {
  position: absolute;
  left:15.5%;
  top:-140px;
  bottom:0;
  margin:auto;
  width: 30%;
}

  img.bicep1 {
    left:59.5%;
    right:15.5%;
    right: 8.2%;
  }







  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
       }
    pre {
        font-size: 2.1rem;
        margin-right: -30px;
    }
    .but {
      font-size: 1.7rem;
      
    }
  }



/* BMI CALCULATOR */
h2 {
    color: #000000;
    font-size: 4rem;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 3px 8px rgb(45, 45, 45);
    margin-top: auto;
}
.bmi-container {
  font-size: 34px;
  text-align: center;
  padding-top:100px;
  width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  

}

.input-container {
  margin-bottom: 20px;
  font-weight: bold;
  
}

label {
  display: inline-block;
  width: 120px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  
}

input {
  width: 230px;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  font-family: consolas;
}

#calculate-btn {
  width: 200px;
  height: 40px;
  
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
    
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  background-color: #21E6C1;
  color: black;
  border: none;
  text-align: center;
  border-radius: 9px;
  font-size: 22px;
  filter: drop-shadow(7px 4px 10px rgba(0, 0, 0, 0.55));
    
  transition-duration: 0.4s;
  cursor: pointer;
}

#calculate-btn:hover {
  background-color: #22bfa2;
  filter: drop-shadow(12px 8px 10px rgba(0, 0, 0, .75));
}

#result {
  font-size: 24px;
  margin-top: 20px;
  margin-left: 80px;
}

/* 1 REP MAX */
.rempaxcontainer {
  margin-top: 130px;
}


.input-container2 {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	padding: 20px;
  font-weight: bold;
  font-size: 34px;
  
}

#calculate-btn2 {
  width: 200px;
  height: 40px;
  
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
    
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  background-color: #21E6C1;
  color: black;
  border: none;
  text-align: center;
  border-radius: 9px;
  font-size: 22px;
  filter: drop-shadow(7px 4px 10px rgba(0, 0, 0, 0.55));
    
  transition-duration: 0.4s;
  cursor: pointer;
}

#calculate-btn2:hover {
  background-color: #22bfa2;
  filter: drop-shadow(12px 8px 10px rgba(0, 0, 0, .75));
}

h3 {
	text-align: center;
  color: #000000;
  font-size: 4rem;
  font-family:  Georgia, 'Times New Roman', Times, serif;
 text-shadow: 5px 3px 8px rgb(45, 45, 45);
  margin-top: 15rem;
}


label {
	display: inline-block;
	width: 100px;
  
}

input {
	
	border: 2px solid #ccc;
	border-radius: 5px;
  width:230px;
  transition-duration: 0.5s;
  cursor: pointer;
}

input:focus {
  box-shadow: 5px 4px 9px rgba(0, 0, 0, .45);
  border: 2px solid #21E6C1;

}



.output-container {
	margin-top: 20px;
}

#result2 {
  font-size: 24px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;

}



